<div class="wrapper">
<div id="nav"></div>
<div class="content">
   <div class="innerbg careerbg text-center">
      <div class="titlediv">
         <h2 class="title2">About IELTS</h2>
      </div>
   </div>
	   <div class="nav-upper">
      <div class="container">
      </div>
   </div>
   <div class="pad50">
      <div class="container">
         <div class="row">
            <div class="col-md-6 wow fadeInUp">
               <h3>What is the IELTS test?</h3>
               <div class="space20"></div>
               <p class="text-justify">The International English Language Testing System (IELTS) is an international standardized test of English language which accepts international English, not only British English.</p>
               <h5>The test has mainly 4 parts:</h5>
               <ul>
                   <li>Reading</li>
                   <li>Writing</li>
                   <li>Speaking</li>
                   <li>Listening</li>
               </ul>
               <div class="space20"></div>
               <h3> The IELTS test assesses your English abilities</h3>
               <p>IELTS comes in two types: Academic and General Training. For both tests, Listening and Speaking are identical, but the Reading and Writing sections are different depending on the test you take.</p>
               <p>The test takes 2 hours and 45 minutes.</p>
                
                <p>You will complete the Listening, Reading and Writing sections of all IELTS tests on the same day without a break.</p>
                
              <p>However, you can complete the Speaking section a week before or after the other sections of the test. The test center will let you know.</p>
            </div>
            <div class="col-md-6 wow fadeInUp">
               <div class="col-sm-6">
                  <div class="counter-box-3">
                     <span class="icon ion-ribbon-b orange"></span> <span class="count-txt counter">30</span>
                     <p>Years of Experience in evaluation</p>
                  </div>
                </div>
               <div class="col-sm-6">
                  <div class="counter-box-3">
                     <span class="icon ion-android-laptop blue"></span> <span class="count-txt"><span class="counter">798560</span>+</span>
                     <p>Students Enrolled</p>
                  </div>
               </div>
               <div class="col-sm-6">
                  <div class="counter-box-3">
                     <span class="icon ion-android-globe green"></span> <span class="count-txt"><span class="counter">38</span>+</span>
                     <p>Countries Served</p>
                  </div>
               </div>
               <div class="ieimg">
               <img src="assets\IeltsP.png" alt="IELTS">
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--note -->
   <div class="pad50 bg-blue text-center white">
      <div class="container">
         <h3 class="white wow fadeInDown">IELTS Academic Writing</h3>
         <div class="space20"></div>
         <p class="wow fadeInUp" data-wow-delay=".5s">If you are looking to enter undergraduate and postgraduate studies or seeking professional qualifications, this test is for you. There are two writing tasks:</p>
      <ul>
          <li> <b>Task 1</b> presents a graph, table, chart, or diagram and asks you to describe, summarize or explain the information contained in it. For example, you might need to explain data, describe a process, or describe an object or event.</li>
      <li> <b>Task 2</b> asks you to write an essay in response to a point of view, argument, or problem. Use a formal writing style for both tasks. You must write your answers on the answer sheet in the test booklet, and you must write a full answer. Do not answer with short notes or bullet points. You can write notes to yourself on the question paper, but the examiner will not see it, and you will not be allowed to remove any part of the exam from the examination room.</li>
        </ul>
        </div>
   </div>
   </div>
</div>

