<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <h1 style="color:violet; font-style: italic;">Testimonial</h1>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <p>This service is so accurate that I improved my score from 5.5 to 7 in just a couple of weeks. I highly recommend it.</p> <img src="assets\gitesh.jpeg">
                    <div id="image-caption">Gitesh Shrivastava</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <p>I love IELTS8PLUS because I could check my speaking within minutes! Plus, the comprehensive feedback system is fantastic.</p> <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid">
                    <div id="image-caption">Suyash Shukla</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <p>IELTS8PLUS is very useful for everyone! It not only evaluates your IELTS speaking & writing, but the detailed feedback also helped me a lot to improve. Plus, it contains all the latest topics and questions of all the parts.</p> <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid">
                    <div id="image-caption">Sourabh Pal</div>
                </div>
            </div>
        </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class='fas fa-arrow-left'></i> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class='fas fa-arrow-right'></i> </a>
    </div>
</div>