/* .testimonial{
    margin-left: 40px;
} */
.carousel-item {
    height: fit-content;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-color: lightcoral;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }